<phpunit
    backupGlobals="true"
    bootstrap="tests/bootstrap.php"
    cacheDirectory="var/cache/phpunit"
    processIsolation="true"
    executionOrder="depends,defects"
    colors="true"
    testdox="true"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    stopOnDeprecation="true"
    stopOnNotice="true"
    failOnEmptyTestSuite="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnPhpunitDeprecation="true"
    failOnNotice="true"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="receptores">
            <directory>tests/bhe/receptores</directory>
        </testsuite>
        <testsuite name="servicios">
            <directory>tests/bhe/servicios</directory>
        </testsuite>
        <testsuite name="boletas">
            <directory>tests/bhe/boletas</directory>
        </testsuite>
    </testsuites>
    <coverage
        ignoreDeprecatedCodeUnits="true"
        pathCoverage="true"
    >
        <report>
            <text
                outputFile="var/tests-coverage.txt"
                showUncoveredFiles="true"
            />
            <clover outputFile="var/tests-coverage.xml" />
        </report>
    </coverage>
    <logging>
        <testdoxText outputFile="var/tests-testdox.txt"/>
    </logging>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="BHEXPRESS_API_URL" value="https://bhexpress.cl" />
        <env name="BHEXPRESS_EMISOR_RUT" value="76192083-9" />
    </php>
</phpunit>